<div class="container">
    <div>
      <h2>Modifier un Produit :</h2>             
    </div>
         <form >         
             <div  class="col-sm-2 col-md-2 col-lg-2">
               <label >ID  Moto</label>
               <input  readonly  type="text"  [(ngModel)]="currentMoto.idMoto"  
                   name="idMoto" class="form-control">
              </div>
         
             <div class="col-sm-4 col-md-4 col-lg-4" >
               <label >Modele Moto</label>
               <input  type="text"[(ngModel)]= "currentMoto.modeleMoto"  
                   name="modeleMoto" class="form-control">
             </div>

             <div class="col-sm-2 col-md-2 col-lg-2">
               <label >Prix Moto</label>
           <input type="number"   [(ngModel)]= "currentMoto.prixMoto"  
                   name="prixMoto" class="form-control">
             </div>

             <div class="col-sm-2 col-md-2 col-lg-2">
              <label >Puissance Moto</label>
          <input type="number"   [(ngModel)]= "currentMoto.puissanceMoto"  
                  name="puissanceMoto" class="form-control">
            </div>

             <div class="col-sm-4 col-md-4 col-lg-4">
                 <label >Date fabrication</label>
                <input  type="date"  [ngModel]="currentMoto.dateFabrication | date: 'yyyy-MM-dd'" 
                   (ngModelChange)=" currentMoto.dateFabrication= $event"   name="dateFabrication" 
                   class="form-control">
             </div>

             <div class="col-sm-4 col-md-4 col-lg-4">
              <label>Marque</label>
              <select class="form-control form-control-lg" id="idMar" name="idMar" [(ngModel)]="updatedMarId">
                @for(cat of marques; track cat.idMar)
                {
                  <option  [value]="cat.idMar">  {{cat.nomMar}} </option>
                 }
             </select>

              <!-- <select class="form-control form-control-lg" id="idCat" name="idCat"   
                    [(ngModel)]="updatedCatId">        
                      <option *ngFor="let cat of categories" [value]="cat.idCat" >   
                                   {{cat.nomCat}}
                      </option>
               </select>    -->                  
             </div>
        
             
              <div class="mt-2">
<button type="submit"  (click)="updateMoto()" class="btn btn-success">Modifer</button>
              </div>  
         </form>
</div>       
